@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*------------------------------------ GENERALES -----------------------------------------*/

/* Estilos generales para todos los dispositivos */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  border-radius: 10px;
  /* Estilos comunes */
}

.header {
  display: flex; /* Usamos flexbox para alinear elementos */
  align-items: center;
  justify-content: space-between; /* Alinea verticalmente los elementos */
  width: 100%;
}

.welcome,
.servicios,
.footer {
  background-image: linear-gradient(black, gray, white);
  color: white;
  border: 1px solid grey;
}

.intro,
.form {
  background-image: radial-gradient(
      circle,
      rgba(211, 211, 211, 0.5) 20%,
      transparent 20%
    ),
    linear-gradient(black, gray, white);
  background-size: 10px 10px, auto; /* Tamaño de los puntitos y del gradiente */
  background-position: 0 0, 0 0; /* Posicionamiento de los puntitos y del gradiente */
  color: white;
  border: 1px solid grey;
}

img {
  width: 100%;
}

/*------------------------------------ MOBILE -------------------------------------*/

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*--------- INTRO --------*/
  .intro {
    height: 616px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    /*border: solid red;*/
  }

  /*--------- HEADER --------*/
  .header {
    border-radius: 20px;
  }

  .img__logo--header {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px white;
  }

  .img__logo--menu {
    width: 40px;
    height: 40px;
    box-shadow: 7px 7px 7px white;
    border-radius: 10px;
    border: 1px solid black;
  }

  .menu {
    display: none;
  }

  .contenedor__introII {
    /*titulo bievenida y foto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 94px 42px 0px 42px;
  }

  .intro__texto {
    /*border: solid red;*/
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
    width: 291px;
    height: 96px;
    text-shadow: 2px 2px 4px #a09f9f;
  }

  .intro__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .foto {
    box-shadow: 10px 5px 5px black;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid black;
  }

  /*--------- WELCOME --------*/

  .welcome {
    /*border: solid red;*/
    height: 538px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contenedor__welcome {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .welcome__titulo {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;
    width: 271px;
    height: 44px;
    margin: 55px 52px;
    text-shadow: 2px 2px 4px #a09f9f;

    /*border: solid red;*/
  }

  .welcome__texto {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    width: 312px;
    height: 193px;
    margin: 40px 30px;
  }

  .welcome_-logo {
    width: 80px;
    height: 80px;
    box-shadow: 7px 5px black;
    border-radius: 10px;
  }

  .welcome_-logoII {
    display: none;
  }

  /*--------- SERVICIOS --------*/

  .servicios {
    height: 1375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contenedor__servicios__titulo {
    /*border: solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 52px 0px 52px;
  }

  .servicios__titulo {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;
    width: 271px;
    height: 55.81px;
  }

  .contenedor__servicios_informacion {
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor_servicio__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicios__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 138px;
    /*border: solid red;*/
    margin-top: 75px;
  }

  .servicios__subtitulo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    margin-top: 14px;
    width: 271px;
    height: 28px;
  }

  .servicios_texto {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    margin-top: 15px;
    width: 262px;
    height: 117px;
  }

  /*--------- FORM --------*/

  .form {
    height: 660px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contenedor__form--titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid red;*/
    margin: 70px 50px 0px 50px;
  }

  .form__titulo {
    /*border: solid red;*/
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;
    width: 271px;
    height: 55.81px;
  }

  .contenedor__form {
    /*border: solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style: none;
    /*border: solid red;*/
  }

  ul {
    padding: 0px;
    /*border: solid red;*/
  }

  .label {
    color: inherit;
    display: block;
    width: 54px;
    height: 15px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    margin-bottom: 9px;
    margin-top: 20px;
  }

  .input {
    /*width: 100%;*/
    border-radius: 4px;
    border: 3px #2c2c2c;
    width: 335px;
    height: 45px;
    border: solid black;
  }

  .input__mensaje {
    width: 335px;
    height: 113px;
  }

  .form__button button {
    width: 335px;
    height: 45px;
    background-color: #ffd953;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    border-radius: 4px;
    margin-top: 60px;
  }

  /*--------- FOOTER --------*/

  .footer {
    height: 493px;
    padding-left: 20px;
    padding-right: 20px;

    /*border: solid red;*/
  }

  .footer__logo {
    margin-left: 20px;
    width: 77px;
    height: 71px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
  }

  .footer__text {
    width: 83px;
    height: 15px;
    margin-left: 20px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    color: #2c2c2c;
    margin-top: 18px;
  }

  .footer__logo {
    margin-top: 50px;
  }

  .social-media {
    display: flex;
    /* Mantener flexbox */
    flex-direction: column;
    /* Cambiar a columna para alineación vertical */
    gap: 7.56px;
    /* Espacio entre los elementos */
    align-items: flex-start;
    /* Alinea los elementos al inicio */
    margin-left: 20px;
    margin-top: 85px;
    /*border: 1px solid red;*/
  }

  .social-item {
    display: flex;
    align-items: center;
    /* Alinea logo y nombre */
  }

  .social-logo {
    width: 27px;
    /* Ajusta el tamaño del logo */
    height: 27px;
    /* Ajusta el tamaño del logo */
    margin-right: 10px;
    /* Espacio entre el logo y el nombre */
    margin-bottom: 29px;
  }

  .social-name {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    margin-bottom: 29px;
  }
}

/*------------------------------------ DESKTOP -------------------------------------*/

/* Estilos para pantallas de escritorio (1440px) */
@media (min-width: 376px) and (max-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    height: 616px;
    padding-top: 36px;
    padding-left: 80px;
    padding-right: 80px;
    /*border: 2px solid red;*/
  }

  .img__logo--header {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px whitesmoke;
    margin-top: 36px;
    border: #a09f9f;
  }

  .menu {
    display: flex;
    margin-top: 45px;
    padding: 0px;
    /*border: 2px solid red;*/
  }

  .menu__lista {
    display: flex;
    list-style: none;
    padding: 0;
    width: 428px;
    height: 28px;
  }

  a {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    text-decoration: none;
    color: inherit;
  }

  .menu__lista li span {
    margin-right: 60px;
  }

  .contenedor__introII {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro__texto {
    width: 313px;
    height: 96px;
    margin-top: 115px;
    margin-bottom: 260px;
    text-shadow: 2px 2px 4px black;
  }

  .intro__imagen {
    margin-top: -5px;
  }

  .foto {
    width: 410px;
    height: 410px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
  }

  .img__logo--menu {
    display: none;
  }
  .titulo__principal {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: left;
  }

  /*--------- WELCOME --------*/

  .welcome {
    height: 538px;
    padding-left: 80px;
    padding-right: 80px;
    /*border: solid red;*/
  }

  .contenedor__welcome {
    display: flex; /* Usamos flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .contenedor__welcome--texto {
    /*border: solid red;*/
    margin-left: 90px;
    margin-top: 132px;
    margin-right: 220px;
    width: 532px;
    height: 237px;
  }

  .welcome_-logo {
    display: none;
  }

  .welcome_-logoII {
    width: 211px;
    height: 211px;
    box-shadow: 7px 5px black;
    border-radius: 10px;
    margin-top: 145px;
    margin-left: 220px;
    /*border: solid red;*/
  }

  .welcome__titulo {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: left;
    width: 271px;
    height: 44px;
    margin-bottom: 28px;
    padding-left: 5px;
  }

  .welcome__texto {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    width: 532px;
    height: 165px;
  }

  .texto {
    display: none;
  }

  /*--------- SERVICIOS --------*/

  .servicios {
    height: 604px;
    padding-left: 80px;
    padding-right: 80px;
    /*border: solid red;*/
  }

  .contenedor__servicios__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicios__titulo {
    width: 403px;
    height: 56px;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 59px;
    margin-bottom: 71px;
  }

  .servicios__logo {
    width: 138px;
    margin-bottom: 14px;
  }

  .contenedor__servicios_informacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /*border: solid red;*/
  }

  .servicio {
    text-align: center; /* Centra el texto dentro de cada servicio */
    margin: 0 10px; /* Espacio horizontal entre los servicios */
  }
  .contenedor__servicios__subtitulo {
    width: 271px;
    height: 28px;
  }
  .servicios__subtitulo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
  }

  .contenedor__servicios__texto {
    width: 262px;
    height: 115px;
    margin-top: 15px;
    margin-bottom: 100px;
  }

  .servicios_texto {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
  }

  /*--------- FORM --------*/
  .form {
    display: flex; /* Usamos flexbox para centrar */
    flex-direction: column; /* Colocamos los elementos en columna */
    align-items: center; /* Centramos el contenido */
    height: 660px;
    padding-left: 80px;
    padding-right: 80px;
    /*border: solid red;*/
  }

  .contenedor__form {
    display: flex; /* Usamos flexbox para alinear los items */
    justify-content: flex-end; /* Alineamos los items a la derecha */
    /*border: solid red;*/
  }

  .contenedor__form--titulo {
    align-self: flex-start; /* Alineamos el título a la izquierda */
    /*border: solid red;*/
    width: 271px;
    height: 56px;
    margin-top: 116px;
    margin-left: 200px;
    margin-right: 77px;
  }

  .form__titulo {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: right;
  }

  .contenedor__form {
    /*border: solid red;*/
    margin-left: 377px;
    margin-top: -80px;
  }

  ul {
    /*border: solid red;*/
    margin: 0px;
    padding: 0;
  }

  li {
    /*border: solid red;*/
    list-style: none;
  }

  .label {
    color: inherit;
    display: block;
    width: 54px;
    height: 15px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    margin-bottom: 9px;
    margin-top: 20px;
  }

  .input {
    /*width: 100%;*/
    border-radius: 4px;
    border: 3px #2c2c2c;
    width: 376px;
    height: 45px;
    border: solid black;
  }

  .input__mensaje {
    width: 376px;
    height: 113px;
  }

  .form__button button {
    width: 376px;
    height: 45px;
    background-color: #ffd953;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    border-radius: 4px;
    margin-top: 60px;
  }

  /*--------- FOOTER --------*/

  .footer {
    height: 346px;
    padding-left: 80px;
    padding-right: 80px;
    /*border: solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logotxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 28px;
    margin-top: 95px;
    margin-bottom: 95px;
  }

  .footer__logo {
    margin-left: 20px;
    width: 112px;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
  }

  .footer__text {
    width: 83px;
    height: 15px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
  }

  .social-logo {
    width: 24px;
    height: auto;
    margin-right: 10px;
    /*border: solid red;*/
  }

  .social-media {
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
    margin-right: 135px;
  }

  .social-item {
    display: flex; /* Usamos flexbox para alinear elementos */
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    /*border: solid red;*/
    width: 108px;
    height: 27px;
  }

  .social-name {
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  }
}
